.idea

/Gradle Build/gradle/
/Gradle Build/gradlew
/Gradle Build/gradlew.bat

/Spring Data JPA/gradle/
/Spring Data JPA/gradlew
/Spring Data JPA/gradlew.bat

/Spring Data Redis/gradle/
/Spring Data Redis/gradlew
/Spring Data Redis/gradlew.bat

/Spring REST Docs/gradle/
/Spring REST Docs/gradlew
/Spring REST Docs/gradlew.bat
